doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/course-scheduler/styles/style.css')
    link(rel='stylesheet', href='/course-scheduler/styles/selectivity-jquery.min.css')
    script(src="/course-scheduler/scripts/request.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src='/course-scheduler/scripts/selectivity-jquery.min.js')
    script(src='/course-scheduler/scripts/spin.min.js')
  body
    block content
